<% provide(:title, "Help") %>
<h1 xmlns="http://www.w3.org/1999/html">Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help"><em>Rails Tutorial help section</em></a>.
</p>
